* {
  box-sizing: border-box;
  max-width: 1370px;
  padding: 0;
  margin: 0;
}


.header {
 /* Flex wrap allow the links to stay whithin the header without overlaping the main image below when screen size gets below 1105px */
 display: flex;
 flex-wrap: wrap;    
 padding: 20px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-color: #062330;
 color: #ffffff;
  }

  .header h1 {
    display: inline-block;
    font-size: 36px;
}
  /*Format span class AE Text from the header*/
  .header h1 .AE {
    color: aqua;
  }
    
  .header div {
    padding-top: 15px;
    margin-left: 5px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
    right: 25px;
  }
/*
  Positioning header links
  .header div ul {
    position: relative;
    right: 25px;
  }
*/

  .header div ul li {
    display: inline-block;
    margin-left: 25px;
  }

    a {
      color: white;
      text-decoration: none;
      font-size: 24px;
  }

  /*Formatiing inpactful engineering image*/
  .engineeringImage {
    height: 400px;
    width: 100%;
    margin-bottom: 1px;
    background-image: url("../images/Engineering.jpg");
    background-size: cover;
    background-position: center;
}


/*Formatting About me secction*/
.aboutMe {
  display: inline-block; 
  height: 300px;
  width: 100%;
  }

.aboutMeTitle {
  margin-left: 0px;
  margin-bottom: 1px;
  padding: 20px;
  border: 1px solid black;
  clear: both;
  float: left;
  width: 250px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #bdcef1;
}


.aboutMeDesc {
  margin-bottom: 1px;
  margin-left: 250px;
  border: 1px solid black;
  padding: 50px;
  height: 300px;
  width: 1120px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #dee1e4;
  color: #ffffff;
}

.aboutMeDesc ul {
  margin-top: 5px;
  margin-left: 25px;
}


.aboutMeDesc li {
  margin-top: 5px;
  margin-bottom: 1px;
  margin-left: 25px;
  font-size: 18px;
  color: black;
}

/*Formating Service secction*/

.services {
  display: inline; 
  height: 600px;
  width: 100%;
}

.servicesTitle {
  margin-left: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 1px solid black;
  padding: 20px;
  clear: both;
  float: left;
  width: 250px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #bdcef1;
  }


  /*Defining Main Service*/
.service-spotlight {
   margin-bottom: 1px;
  margin-top: 1px;
  margin-left: 250px;
  border: 1px solid black;
  padding: 50px;
  width: 1120px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #dee1e4;
  color: #ffffff;
}


.service-spotlight img{
max-height: 200px;
}

.service-spotlight h2{
  color: black;
  }

  /*Defining Secondary Services*/
.serviceOthers {
  display: flex;
}


.service-secondary {
  margin-bottom: 1px;
  margin-left: 0px;
  border: 1px solid black;
  padding: 50px;
  width: 50%;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #dee1e4;
  color: #ffffff;
}


.service-secondary img{
max-height: 80px;
}

.service-secondary h2{
  color: black;
  }

  /*Defining third service*/
  .service-terciary {
    margin-bottom: 1px;
    margin-left: 0px;
    border: 1px solid black;
    padding: 50px;
    width: 50%;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #dee1e4;
    color: #ffffff;
  }
  
  
  .service-terciary img{
  max-height: 80px;
  }
  
  .service-terciary h2{
    color: black;
    }
  



.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

p {
  font-size: 20px;
  color: black;
}


/*Contact Me Seccion*/
.contactMe {
  display: inline-block; 
  height: 300px;
  width: 100%;
  }

.contactMeTitle {
  margin-left: 0px;
  padding: 20px;
  border: 1px solid black;
  clear: both;
  float: left;
  width: 250px;
  height: 150px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #bdcef1;
}


.aboutMeDesc {
  margin-bottom: 10px;
  margin-left: 250px;
  padding: 50px;
  height: 300px;
  width: 1120px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #dee1e4;
  color: black;
}

.contactMeDesc {
  margin-bottom: 10px;
  margin-left: 250px;
  border: 1px solid black;
  padding: 50px;
  height: 150px;
  width: 1120px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #dee1e4;
  color: black;
}
.contactMe div ul li {
  display: inline-block;
  margin-left: 25px;
  font-size:20px;
  }

  .contactMe div ul li a{
    font-size:20px;
    color: black;
    }

.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}